<launch>
  <include file="$(find exploration)/launch/exploration.launch"/>
  <include file="$(find move_wp)/launch/move_wp.launch"/>
  
  <arg name="SSID" default="WIFICASA"/>

  <node pkg="wifi_mapping" type="wifi_mapping_node.py" name="wifi_mapping_node" output="screen" args="$(arg SSID)"/>
</launch>